.App {
  /* background-color: #282c34; */
  width: auto;
  height: auto;
  min-height: 100vh;
}

.min-width {
  width: min-content;
}
.min-height {
  height: min-content;
}
.bgc-dark-1 {
  background-color: #1e1f22 !important;
}
.bgc-dark-2 {
    background-color: #2b2d31 !important;
}
.bgc-dark-3 {
    background-color: #313338 !important;
}
.bgc-dark-4 {
    background-color: #404249 !important;
}
.bgc-dark-5 {
    background-color: #4042498d !important;
}

.bgc-dark-1-hover:hover {
    background-color: #1e1f22 !important;
}
.bgc-dark-2-hover:hover {
    background-color: #2b2d31 !important;
}
.bgc-dark-3-hover:hover {
    background-color: #313338 !important;
}
.bgc-dark-4-hover:hover {
    background-color: #404249 !important;
}
.bgc-dark-5-hover:hover {
    background-color: #4042498d !important;
}
