input {
    outline: none !important;
}
a {
    text-decoration: none !important;
}
.Home {
  background-color: #f0f0f0;
  width: auto;
  height: auto;
  min-height: 100vh;
}
.pre_ {
    white-space: pre-wrap;

}

.Header {
    background-color: #303b44;
}
.img-small-24 {
    width: 22px;
    height: 22px;
}
.img-normal-50 {
    width: 50px;
    height: 50px;
}
.card-img-top {
    height: 30vw !important;
}
.img-small-19-24 {
    width: 19px;
    height: 24px;
}
.card-title-company {
    opacity: .8;
    font-size: 14px;
}
.cursor-pointer {
    cursor: pointer;
}
.box-shadow {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.send-message {
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
.padding-top-20-px {
    padding-top: 15px !important;
}
.min-width {
  width: min-content;
}
.min-height {
  height: min-content;
}
.bgc-dark-1 {
  background-color: #1e1f22 !important;
}
.bgc-dark-2 {
    background-color: #2b2d31 !important;
}
.bgc-dark-3 {
    background-color: #313338 !important;
}
.bgc-dark-4 {
    background-color: #404249 !important;
}
.bgc-dark-5 {
    background-color: #4042498d !important;
}

.bgc-dark-1-hover:hover {
    background-color: #1e1f22 !important;
}
.bgc-dark-2-hover:hover {
    background-color: #2b2d31 !important;
}
.bgc-dark-3-hover:hover {
    background-color: #313338 !important;
}
.bgc-dark-4-hover:hover {
    background-color: #404249 !important;
}
.bgc-dark-5-hover:hover {
    background-color: #4042498d !important;
}
